<% provide(:title,'Cotizar')%>  
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"> <h2>Etersol Curicó</h2> </li>
              <img src="/assets/570.jpg">
              <p></p>
              <p>Calle Carmen 276 Curicó</p>
              <p>Fono: (075) 316925</p>
              <p>Móvil: 79778794</p>
              <p> <h2> Email</h2> </p>
              <p>contacto@etersoldistribuidorcurico.cl</p>
              <p>cotice@etersoldistribuidorcurico.cl</p>
              <p>ventas@etersoldistribuidorcurico.cl</p>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          
          <div class="row-fluid">
            <div class="span9 well">
              <form action="/enviar_email" method="post" id="email_cotizar" name="email_cotizar">
                  <fieldset>
                      <legend>Cotizar Productos en Etersol</legend>
                      <label>Nombre</label>
                      <input type="text" id="nombre" name="nombre" placeholder="nombre...">
                                          
                      <label class="checkbox">
                           <input type="checkbox"> Check me out
                      </label>
                      <button type="submit" class="btn">Submit</button>
                    </fieldset>
              </form>
          </div><!--/row-->
         </div><!--/span-->
      </div><!--/row-->
  </div>
