<div class = "container-fluid">
	<div class = "row">	
	<div class = "span6 offset4">
		<div class="alert alert-success">
		<h3>se a enviado exitosamente su consulta</h3>
		</div>
        <p> <a href="/etersol/inicio"> <h4>volver</h4> </a></p>
	</div>
</div>
</div>