<!-- Section Start-->
    <section class="container otherddetails">
        <div class="otherddetailspart">
            <div class="innerclass"> <i class="icon-truck font60"></i>
                <h2>Free shipping</h2>
                <p>All over in world over $200</p>
            </div>
        </div>
        <div class="otherddetailspart">
            <div class="innerclass"> <i class="icon-thumbs-up font60"></i>
                <h2>100% Guarantee </h2>
                <p>Anytime Replacement </p>
            </div>
        </div>
        <div class="otherddetailspart">
            <div class="innerclass"> <i class="icon-money font60"></i>
                <h2>Easy Payment</h2>
                <p> Payment Gatway support</p>
            </div>
        </div>
        <div class="otherddetailspart">
            <div class="innerclass"> <i class="icon-time font60"></i>
                <h2>24hrs Shipping</h2>
                <p> Free For <br>
                    UK Customers </p>
            </div>
        </div>
        <div class="otherddetailspart">
            <div class="innerclass"> <i class="icon-gift font60"></i>
                <h2>Over 5000 Choice</h2>
                <p>50,000+ Products</p>
            </div>
        </div>
        <div class="otherddetailspart">
            <div class="innerclass"> <i class="icon-tags font60"></i>
                <h2>Low Price</h2>
                <p>Available in Low Price</p>
            </div>
        </div>
    </section>
    <!-- Section End--> 

<!-- Popular Brands-->
    <section id="popularbrands" class="container mt40">
        <h1 class="heading1"><span class="maintext"> <i class="icon-trophy"></i> Proveedores </span></h1>
        <div class="brandcarousalrelative">
            <ul id="brandcarousal">
                <li><img src="/assets/brand1.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand2.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand3.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand4.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand1.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand2.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand3.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand4.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand1.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand2.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand3.jpg" alt="" title=""/></li>
                <li><img src="/assets/brand4.jpg" alt="" title=""/></li>
            </ul>
            <div class="clearfix"></div>
            <a id="prev" class="prev" href="#"><i class="icon-chevron-left"></i></a> <a id="next" class="next" href="#"><i class="icon-chevron-right"></i></a> </div>
    </section>