<% provide(:title,'Marcas y Afiliados')%> 
<section id="popularbrands" class="container mt40">
      <h1 class="heading1"><span class="maintext"> </i> Marcas </span></h1>
 	  <div class="row-fluid">
            <div class="span3">
              
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              
            </div><!--/span-->
            <div class="span3">
              
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              
            </div><!--/span-->
            <div class="span3">
              
              <img src="/assets/logo22.png" class="img-circle">
              <p>aaklsdjaklsdas dasdk ljaskldj aklsdjal ksdjkla sjdklasj lkdja slkdj laksd ajlksdj laksd</p>
         
            </div><!--/span-->
            <div class="span3">
              <h2>afiliado4</h2>
              <p>das asdkaskda da sdas d alksdakls a sd as da sd as dasfsadfga sg fd ga sdg sdas das dasd </p>
         
            </div><!--/span-->
     </div><!--/row-->
     <h1 class="heading1"><span class="maintext"> </i> Afiliados </span></h1>
       <div class="row-fluid">
            <div class="span3">
              
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              
            </div><!--/span-->
            <div class="span3">
              
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              
            </div><!--/span-->
            <div class="span3">
              
              <p>aaklsdjaklsdas dasdk ljaskldj aklsdjal ksdjkla sjdklasj lkdja slkdj laksd ajlksdj laksd</p>
         
            </div><!--/span-->
            <div class="span3">
              <h2>afiliado4</h2>
              <p>das asdkaskda da sdas d alksdakls a sd as da sd as dasfsadfga sg fd ga sdg sdas das dasd </p>
         
            </div><!--/span-->
     </div><!--/row-->
     </section>

