<% provide(:title,'Marcas y Afiliados')%> 
<section id="popularbrands" class="container mt40">
      <h1 class="heading1"><span class="maintext"> </i> Marcas </span></h1>
 	  <div class="row-fluid">
            <div class="span3">
              
             <img src="/assets/logo22.png" class="img-circle">
              
            </div><!--/span-->
            <div class="span3">
              
              <img src="/assets/luxa.png" class="img-circle">
              
            </div><!--/span-->
            <div class="span3">
              
              <img src="/assets/logo22.png" class="img-circle">
          
         
            </div><!--/span-->
            <div class="span3">
             <img src="/assets/luxa.png" class="img-circle">
            
         
            </div><!--/span-->
     </div><!--/row-->
     <h1 class="heading1"><span class="maintext"> </i> Afiliados </span></h1>
       <div class="row-fluid">
            <div class="span3">
              
              <img src="/assets/logo22.png" class="img-circle">
              
            </div><!--/span-->
            <div class="span3">
               <img src="/assets/logo_flexalum.png" class="img-circle">
             
              
            </div><!--/span-->
            <div class="span3">
               <img src="/assets/logo22.png" class="img-circle">
             
         
            </div><!--/span-->
            <div class="span3">
             
          <img src="/assets/logo_flexalum.png" class="img-circle">
            </div><!--/span-->
     </div><!--/row-->
     </section>

