<div class = "row">	
	<div class = "span8 offset5">
		<h1><b>Editando el Producto </b></h1>
		<%= render 'form' %>
		<%= link_to 'Mostrar', @producto %> |
		<%= link_to 'Volver', productos_path %>
	</div>
</div>