 <!-- Featured Product-->
    <section id="featured" class="row mt40">
        <div class="container">
            <h1 class="heading1"><span class="maintext"> <i class="icon-star"></i> Productos Destacados</span></h1>
            <div class="featuredcarousalwrap">
                <ul class="thumbnails" id="featuredcarousal">
                  <!-- Inicio Producto Destacado -->
                    <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                        <div class="thumbnail"> <span class="sale tooltip-test"> <i class="icon-gift font24"></i> <br>
                            Sale</span> <a href="#"><img alt="" src="/assets/product1a.jpg"></a>
                            <div class="shortlinks">
                                <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                            </div>
                            <div class="price">
                                <div class="pricenew">$4459.00</div>
                                <div class="priceold">$5000.00</div>
                                <div class="ratingstar"> <i class="icon-star orange"> </i><i class="icon-star orange"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                            </div>
                            <a  class="btn btn-orange btn-small  addtocartbutton">Add to Cart</a> </div>
                    </li>
                    <!-- Fin Producto Destacado-->
                </ul>
                <div class="clearfix"></div>
                <a id="prevfeatured" class="prev" href="#"><i class="icon-chevron-left"></i></a> <a id="nextfeatured" class="next" href="#"><i class="icon-chevron-right"></i></a> </div>
        </div>
    </section>
    
    <!-- Latest Product-->
    <section id="latest" class="row mt40">
        <div class="container">
            <h1 class="heading1"><span class="maintext"> <i class="icon-thumbs-up"></i> Productos Recientes</span></h1>
            <div class="latestcarousalwrap">
                <ul class="thumbnails" id="latestcarousal">
                <!-- Inicio producto reciente -->
                    <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                        <div class="thumbnail"> <a href="#"><img alt="" src="/assets/product1a.jpg"></a>
                            <div class="shortlinks">
                                <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                            </div>
                            <div class="price">
                                <div class="pricenew">$4459.00</div>
                                <div class="priceold">$5000.00</div>
                                <div class="ratingstar"> <i class="icon-star orange"> </i><i class="icon-star orange"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                            </div>
                            <a  class="btn btn-orange btn-small  addtocartbutton">Add to Cart</a> </div>
                    </li>
                    <!-- Fin producto reciente -->

                    <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                        <div class="thumbnail"><span class="new tooltip-test"><i class="icon-lightbulb font24"></i> <br>
                            New</span> <a href="#"><img alt="" src="/assets/product2a.jpg"></a>
                            <div class="shortlinks">
                                <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                            </div>
                            <div class="price">
                                <div class="pricenew">$4459.00</div>
                                <div class="priceold">$5000.00</div>
                                <div class="ratingstar"> <i class="icon-star orange"> </i><i class="icon-star orange"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                            </div>
                            <a  class="btn btn-orange btn-small  addtocartbutton">Add to Cart</a> </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <a id="prevlatest" class="prev" href="#"><i class="icon-chevron-left"></i></a> <a id="nextlatest" class="next" href="#"><i class="icon-chevron-right"></i></a> </div>
        </div>
    </section>